.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 20);
}

.card-body {
  background-color: #666;
  line-height: 1.6;
  border: 20px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 5);
  padding: 16px;
  transition: box-shadow 1s ease;
}

.name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}
